name: Build and Deploy Sphinx Docs

on:
  push:
    branches:
      - main  # Déployez uniquement lorsque la branche principale est mise à jour

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install sphinx sphinx-rtd-theme

    - name: Build documentation
      run: sphinx-build -b html docs_source/source/ docs/

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
 